@page "/DashBoard/{OgsmId:int}"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@inject NavigationManager NavigationManager
@inject OgsmItemService OgsmItemService;
@inject GoalService GoalService;


@code{
    [Parameter]
    public int OgsmId { get; set; }

    public OgsmItems? CurrentOgsm { get; set; }
    public Goal currentGoal { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CurrentOgsm = OgsmItemService.GetOgsm(OgsmId);
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo("DashBoard");
        }
    }
    
}

<!DOCTYPE html>

<html>
<head>
    <title>OGSM: @CurrentOgsm.Title</title>
</head>
<body>

<div>
    <EditForm Model="@currentGoal" OnValidSubmit="HandleSubmit">
        <label for="NameInput">Name:</label>
        <InputText id="NameInput" @bind-Value="@currentGoal.Name"></InputText>
        <button type="submit" class="btn-primary">Save</button>
    </EditForm>
    
    @* @if (currentGoal.Stratagies != null) *@
    @* { *@
    @*     @foreach (var stratagy in currentGoal.Stratagies) *@
    @*     { *@
    @*         <tr> *@
    @*             <td>@stratagy</td> *@
    @*         </tr> *@
    @*     } *@
    @* } *@
</div>

@code
{
    public void HandleSubmit(EditContext editContext)
    {
        
        var newGoal = (Goal)editContext.Model;
        if (currentGoal != new Goal())
        {
            GoalService.UpdateGoal(newGoal);
        }
        else
        {
            newGoal.OgsmItemID = CurrentOgsm.ID;
            GoalService.AddGoal(newGoal, CurrentOgsm);
            CurrentOgsm.Goals?.Add(newGoal);
        }
        currentGoal = new Goal();
        StateHasChanged();
    }
}

<div>
    
    <h1>Goals for @OgsmId - @CurrentOgsm.Title</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        @if(CurrentOgsm.Goals != null) {
            @foreach (var goal in CurrentOgsm.Goals)
            {
                <tr>
                    <td>@goal.ID</td>
                    <td>@goal.Name</td>
                    <td><input type="button" value="Delete" onclick="@(() => HandleDelete(goal))" class="btn btn-default"/></td>
                    <td><input type="button" value="Edit" onclick="@(() => ActivateEdit(goal))" class="btn btn-default"/></td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@code
{
    public void HandleDelete(Goal goal)
    {
        GoalService.DeleteGoal(goal.ID);
        CurrentOgsm.Goals.Remove(goal);
        StateHasChanged();
    }
    
    public void ActivateEdit(Goal goal)
    {
        currentGoal = goal;
        StateHasChanged();
    }
    
}
</body>
</html>