@page "/DashBoard/{OgsmId:int}"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@using PSC.Blazor.Components.Chartjs.Models.Common
@using ActionMeasure = nhs_ogsm.Data.ActionMeasure
@inject NavigationManager NavigationManager
@inject OgsmItemService OgsmItemService;
@inject GroupService GroupService;
@inject GoalService GoalService;
@inject StrategyService StrategyService;
@inject ActionMeasureService ActionMeasureService;
@inject StateContainerService StateService;

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@code{
    [Parameter]
    public int OgsmId { get; set; }
    
    public Ogsm currentOgsm { get; set; }
    
    public List<Goal> goalList { get; set; }
    public Goal currentGoal { get; set; } = new() { EndDate = DateTimeOffset.Now };
    
    public List<Strategy> strategyList { get; set; }
    public Strategy CurrentStrategy { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentOgsm = OgsmItemService.GetSingleOgsm(OgsmId);
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo("DashBoard");
        }
        
        FilterGoals();
        FilterStrategies();
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }
}

<PageTitle>OGSM: @currentOgsm.Title</PageTitle>
@code{
    private ConfirmDialog ogsmDeleteDialog = default!;
    
    public async void HandleOgsmDelete()
    {
        var confirmation = await ogsmDeleteDialog.ShowAsync(
            title: "Are you sure you want to delete this OGSM?",
            message1: "Do you want to proceed?");

        if (!confirmation) return;
        
        OgsmItemService.DeleteOgsm(currentOgsm.ID);
        StateService.NotifyStateChanged();
        NavigationManager.NavigateTo("DashBoard");
    }
    
    public void HandleOgsmEdit(EditContext editContext)
    {
        var newOgsm = (Ogsm)editContext.Model;
        Ogsm realOgsm = OgsmItemService.GetSingleOgsm(newOgsm.ID);
        realOgsm.Title = newOgsm.Title;
        realOgsm.IsActive = newOgsm.IsActive;
        OgsmItemService.UpdateOgsm(realOgsm);
        
        currentOgsm.Title = newOgsm.Title;
        _editOgsm.Title = newOgsm.Title;
        
        StateService.NotifyStateChanged();
    }
    
    Ogsm _editOgsm = new();
    Modal OgsmEditModal;
    string OgsmFormId = "OgsmEditForm";
    string modalTitle = "Edit";
    
    private async Task OnShowModalClick()
    {
        modalTitle = "Edit " + currentOgsm.Title;
        _editOgsm = new Ogsm {ID = currentOgsm.ID, Title = currentOgsm.Title, IsActive = currentOgsm.IsActive};
        await OgsmEditModal.ShowAsync();
    }
}

<div class="ogsm-objective">
    <h1>Objective: @currentOgsm.Title<span @onclick="OnShowModalClick" class="material-symbols-outlined" style="cursor: pointer;">Settings</span></h1>
</div>
@* modal for editing ogsm *@
<Modal @ref="OgsmEditModal" Title=@modalTitle>
    <BodyTemplate>
         <EditForm id="@OgsmFormId" Model="@_editOgsm" OnValidSubmit="HandleOgsmEdit">
             <DataAnnotationsValidator/>
             <table>
                 <tr>
                     <td>Title:</td>
                     <td><InputText class="input" id="NameInput" @bind-Value="@_editOgsm.Title"></InputText></td>
                 </tr>
                 <tr>
                     <label for="parent">Parent OGSM</label>
                      <InputSelect id="parent" class="input" @bind-Value="@_editOgsm.ParentID">
                          <option></option>
                          @foreach (var ogsm in OgsmItemService.GetAllOgsm().Where(x => x.ID != _editOgsm.ID && 
                                                                                        !OgsmItemService.FindElders(
                                                                                            x.ID, new List<int>()).Contains(_editOgsm.ID)))
                          {
                              <option value="@ogsm.ID">@ogsm.Title</option>
                          }
                      </InputSelect>
                 </tr>
                 <tr>
                     <label for="group">Group</label>
                     <InputSelect id="group" class="input" @bind-Value="@_editOgsm.Groups">
                         <option></option>
                         @foreach (var group in GroupService.GetAllGroups())
                         {
                             <option value="@group.ID">@group.Name</option>
                         }
                     </InputSelect>
                 </tr>
                  
                 <tr>
                     <td><Switch Label="Active" @bind-Value="_editOgsm.IsActive"/></td>
                 </tr>
             </table>
         </EditForm>   
    </BodyTemplate>
    <FooterTemplate>
        <Button form="@OgsmFormId" Color="ButtonColor.Primary" Type="ButtonType.Submit">Save</Button>
        <Button Color="ButtonColor.Danger" Type="ButtonType.Button" @onclick="HandleOgsmDelete"> Delete OGSM</Button>
    </FooterTemplate>
</Modal>
<ConfirmDialog @ref="ogsmDeleteDialog" />

<div class="ogsm-dash">
    @code
    {
        Goal editGoal = new();
        
        public void HandleGoalDelete(Goal goal)
        {
            GoalService.DeleteGoal(goal.ID);
            currentOgsm.Goals.Remove(goal);
            goalList.Remove(goal);
            if (Equals(currentGoal, goal)) CancelGoalEdit();
            StateHasChanged();
        }
        
        public void HandleGoalEdit(EditContext editContext)
        {
            var newGoal = (Goal)editContext.Model;
            Goal realGoal = currentOgsm.Goals.First(g => g.ID == newGoal.ID);
            realGoal.Name = newGoal.Name;
            realGoal.Description = newGoal.Description;
            realGoal.EndDate = newGoal.EndDate;
            GoalService.UpdateGoal(realGoal);
        }
        
        public void HandleGoalIsDone(Goal goal)
        {
            goal.IsDone = !goal.IsDone;
            GoalService.UpdateGoal(goal);
        }
        
        public void ActivateGoalEdit(Goal goal)
        {
            currentGoal = goal;
            editGoal = new Goal {ID = goal.ID, Name = goal.Name, Description = goal.Description, EndDate = goal.EndDate};
            CurrentStrategy = new Strategy();
            StateHasChanged();
        }

        public void CancelGoalEdit()
        {
            currentGoal = new Goal() { EndDate = DateTimeOffset.Now };
            StateHasChanged();
        }

        public void RemoveStratFromGoal(Strategy strategy, Goal goal)
        {
            GoalService.RemoveStratFromGoal(strategy, goal);
            strategy.Goals.Remove(goal);
            goal.Strategies.Remove(strategy);
        }

        Collapse goalFiltersCollapse = default!;
        Collapse GoalAddCollapse = default!;
    }
    <CardsList Title="Goals" >
        <CardHeader>
            @code{
                
                GoalFilters goalFilter = new();
                class GoalFilterSettings
                {
                    public bool isDone;
                    public bool isOverdue = false;
                    public int StrategyID = 0;
                }
                class GoalFilters
                {
                    public GoalFilterSettings Settings = new();
                    public Collapse Collapse = default!;
                    
                    public List<Goal> Filter(Ogsm currentOgsm)
                    {
                        IQueryable<Goal> filterGoalList = currentOgsm.Goals.AsQueryable();
                    
                        if (Settings.isDone)
                            filterGoalList = filterGoalList.Where(goal => !goal.IsDone);
                        
                        if (Settings.isOverdue)
                            filterGoalList = filterGoalList.Where(goal => goal.EndDate < DateTimeOffset.Now);

                        if (Settings.StrategyID != 0)
                            filterGoalList = filterGoalList.Where(goal => goal.Strategies.Any(strat => strat.ID == Settings.StrategyID));
                    
                        filterGoalList = filterGoalList.OrderBy(goal => goal.IsDone).ThenBy(goal => goal.EndDate);
                        return filterGoalList.ToList();
                    }
                    
                    public void ToggleFilterByStrategy(int strategyID) => Settings.StrategyID = Settings.StrategyID == strategyID ? 0 : strategyID;
                }
                public void FilterGoals() => goalList = goalFilter.Filter(currentOgsm);
            }
            @* filter settings collapse *@
            <Collapse @ref="goalFiltersCollapse">
                <table>
                    <tr>
                        <td><Switch Label="Hide done" @bind-Value="goalFilter.Settings.isDone"/></td>
                    </tr>
                    <tr>
                        <td><Switch Label="Show overdue" @bind-Value="goalFilter.Settings.isOverdue"/></td>
                    </tr>
                    <tr>
                        <td><Button Color="ButtonColor.Info" Size="Size.Small" @onclick="@FilterGoals">filter</Button></td>
                    </tr>

                </table>
                <hr>
            </Collapse>

            <Button Color="ButtonColor.Primary" @onclick="() => goalFiltersCollapse.ToggleAsync()">
                <span class="material-symbols-outlined">tune</span>
            </Button>
            <Button Color="ButtonColor.Primary" @onclick="FilterGoals" TooltipTitle="Refresh">
                <span class="material-symbols-outlined">refresh</span>
            </Button>
        </CardHeader>
        @* Add goal form behind collapse *@
        @code{
            Goal _formGoal = new() { EndDate = DateTimeOffset.Now };
            public void HandleGoalSubmit(EditContext editContext)
            {
                var newGoal = (Goal)editContext.Model;
                newGoal.ParentOgsmID = currentOgsm.ID;
                GoalService.AddGoal(newGoal);
                currentOgsm.Goals.Add(newGoal);
                goalList.Add(newGoal);
                _formGoal = new Goal() { EndDate = DateTimeOffset.Now };
                StateHasChanged();
            }
        }
        <Collapse @ref="GoalAddCollapse">
            <CardHeader>
            <EditForm Model="@_formGoal" OnValidSubmit="HandleGoalSubmit">
                <Card>
                    <DataAnnotationsValidator/>
                    <CardHeader>
                        <label for="NameInput">Name:</label>
                        <InputTextArea class="input" id="NameInput" @bind-Value="@_formGoal.Name"></InputTextArea><br/>
                        <ValidationMessage For="() => _formGoal.Name"/>
                    </CardHeader>
                    <CardBody>
                        <table>
                            <tr>
                                <td><label for="DateInput">Due:</label></td>
                                <td><InputDate class="input" id="DateInput" Type="InputDateType.DateTimeLocal" @bind-Value="@_formGoal.EndDate"/><br/></td>
                                <td><ValidationMessage For="() => _formGoal.EndDate"/></td>
                            </tr>
                            <tr>
                                <td><label for="DescriptionInput">Description:</label></td>
                                <td><InputText class="input" id="DescriptionInput" @bind-Value="@_formGoal.Description"></InputText><br/></td>
                                <td><ValidationMessage For="() => _formGoal.Description"/></td>
                            </tr>
                        </table>
                    </CardBody>
                    <CardFooter>
                        <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Add Goal</Button>
                        <Button @onclick="() => { _formGoal = new Goal { EndDate = DateTimeOffset.Now }; GoalAddCollapse.HideAsync(); }" Color="ButtonColor.Warning">Cancel</Button>
                    </CardFooter>
                </Card>
            </EditForm>
            </CardHeader>
        </Collapse>
        <CardBody>
            @* list with goals *@
            @code{
                Dictionary<int, bool> goalCollapsed = new();
            }
            @foreach (var goal in goalList)
            {
                goalCollapsed.TryAdd(goal.ID, true);
                // EDIT CARD FOR GOALS
                if (currentGoal.ID == goal.ID)
                {
                    <EditForm Model="@editGoal" OnValidSubmit="HandleGoalEdit">
                        <Card class="active-item">
                            <DataAnnotationsValidator/>
                            <CardHeader>
                                <td><label for="NameInput">Name:</label></td>
                                <td><InputTextArea class="input" id="NameInput" @bind-Value="@editGoal.Name"></InputTextArea><br/></td>
                            </CardHeader>
                            <CardBody>
                                <table>
                                    <tr>
                                        <td><label for="DateInput">Due:</label></td>
                                        <td> <InputDate class="input" Type="InputDateType.DateTimeLocal" @bind-Value="@editGoal.EndDate"/><br/></td>
                                        <td><ValidationMessage For="() => editGoal.EndDate"/></td>
                                    </tr>
                                    <tr>
                                        <td><label for="DateInput">Description:</label></td>
                                        <td> <InputTextArea @bind-Value="@editGoal.Description"/><br/></td>
                                        <td><ValidationMessage For="() => editGoal.Description"/></td>
                                    </tr>
                                    @if (goal.Strategies.Any())
                                    {
                                        Strategy lastStrat = goal.Strategies.Last();
                                        <tr>
                                            <td>Strategies:</td>
                                            <td>
                                                @foreach (Strategy strategy in goal.Strategies)
                                                {
                                                    <a class="removable-item" @onclick="() => RemoveStratFromGoal(strategy, goal)">@strategy.Name</a>
                                                    if (strategy != lastStrat)
                                                    {
                                                        <span> - </span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Done:</td>
                                        <td><input type="checkbox" checked="@goal.IsDone" onchange="@(() => HandleGoalIsDone(goal))" class="form-check-input"/></td>
                                    </tr>
                                </table>
                            </CardBody>
                            <CardFooter>
                                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Save</Button>
                                @* this button should reset it to the old values *@
                                <Button @onclick="@(() => CancelGoalEdit())" Color="ButtonColor.Warning">Cancel edit</Button>
                                <Button Size="Size.Small" @onclick="@(() => HandleGoalDelete(goal))" Color="ButtonColor.Danger"><span class="material-symbols-outlined">Delete</span></Button>
                            </CardFooter>
                        </Card>
                    </EditForm>
                    continue;
                }
                // NON EDIT CARD FOR GOALS
                string cssClass = "";
                if (goal.EndDate < DateTimeOffset.Now) cssClass = "overdue";
                if (goal.IsDone) cssClass = "done";
                <Card Class=@cssClass>
                    <CardHeader>
                        <div class="d-inline-block">
                            <h5 class="m-0">@goal.Name</h5>
                            <small class="small">Due: @goal.EndDate.ToString("dd/MM/yyyy HH:mm")</small>
                        </div>
                        <Button Size="Size.Small" Color="ButtonColor.Info" class="float-end ms-1" Outline="_strategyFilter.Settings.GoalID != goal.ID"
                                TooltipTitle="Search linked to goal" @onclick="() => {_strategyFilter.ToggleFilterByGoal(goal.ID); FilterStrategies();}">
                            <span class="material-symbols-outlined">search</span>
                        </Button>
                        <Button Size="Size.Small" Outline="@(!goalCollapsed[goal.ID])" class="float-end ms-1" Color="ButtonColor.Info" @onclick="() => goalCollapsed[goal.ID] = !goalCollapsed[goal.ID]">
                            <span class="material-symbols-outlined">@(goalCollapsed[goal.ID] ? "expand_more" : "expand_less")</span>
                        </Button>
                        <Button Outline="@(!goal.IsDone)" class="float-end ms-1" Color="ButtonColor.Success" @onclick="@(() => HandleGoalIsDone(goal))" TooltipTitle="Done / Total">
                            @goal.Strategies.Count(s => s.IsDone) / @goal.Strategies.Count()
                        </Button>
                        @if (CurrentStrategy.ID != 0 && !CurrentStrategy.Goals.Contains(goal))
                        {
                            <Button Size="Size.Small" class="float-end" @onclick="@(() => AddStratToGoal(CurrentStrategy, goal))" Color="ButtonColor.Primary">
                                <span class="material-symbols-outlined">link</span>
                            </Button>
                        }
                    </CardHeader>
                    <CardBody Class="@(goalCollapsed[goal.ID] ? "hide" : "show")">
                        <table>
                            <tr>
                                <td>Due:</td>
                                <td>@goal.EndDate.DateTime.ToString("dd/MM/yyyy HH:MM")</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>@goal.Description</td>
                            </tr>
                            @if (goal.Strategies.Any())
                            {
                                Strategy lastStrat = goal.Strategies.Last();
                                <tr>
                                    <td>Strategies:</td>
                                    <td>
                                        @foreach (Strategy strategy in goal.Strategies)
                                        {
                                            <a class="removable-item" @onclick="() => RemoveStratFromGoal(strategy, goal)">@strategy.Name</a>
                                            if (strategy != lastStrat)
                                            {
                                                <span> - </span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </CardBody>
                    <CardFooter Class="@(goalCollapsed[goal.ID] ? "hide" : "show")">
                        @if (currentGoal.ID == 0)
                        {
                            <Button Size="Size.Small" @onclick="@(() => ActivateGoalEdit(goal))" Color="ButtonColor.Warning"><span class="material-symbols-outlined">Edit</span></Button>
                        }
                    </CardFooter>
                </Card>
            }
        </CardBody>
        <CardFooter>
            <Button Color="ButtonColor.Success" @onclick="() => GoalAddCollapse.ToggleAsync()">Add Goal</Button>
        </CardFooter>
    </CardsList>

    @code
    {
        Strategy _editStrategy = new();
        
        public void HandleStrategyDelete(Strategy strategy)
        {
            StrategyService.DeleteStrategy(strategy.ID);
            currentOgsm.Strategies?.Remove(strategy);
            StateHasChanged();
        }
        
        public void HandleStrategyEdit(EditContext editContext)
        {
            var newStrategy = (Strategy)editContext.Model;
            Strategy realStrategy = currentOgsm.Strategies.First(s => s.ID == newStrategy.ID);
            realStrategy.Name = newStrategy.Name;
            StrategyService.UpdateStrategy(realStrategy);
            
        }
        
        public void ActivateStrategyEdit(Strategy strategy)
        {
            CurrentStrategy = strategy;
            _editStrategy = new Strategy {ID = strategy.ID, Name = strategy.Name};
            currentGoal = new Goal();
            StateHasChanged();
        }
        
        public void CancelStrategyEdit(){
            CurrentStrategy = new Strategy();
            StateHasChanged();
        }
        
        public void HandleStrategyIsDone(Strategy strategy)
        {
            strategy.IsDone = !strategy.IsDone;
            StrategyService.UpdateStrategy(strategy);
        }

        public void AddStratToGoal(Strategy strategy, Goal goal)
        {
            GoalService.AddStratToGoal(strategy, goal);
            strategy.Goals.Add(goal);
            goal.Strategies.Add(strategy);
        }
    }
    
    @* card list for strategies *@
    <CardsList Title="Strategies">
        <CardHeader>
            @code{
  
                Dictionary<int, bool> StrategyCollapsed = new();
                StrategyFilter _strategyFilter = new();
                class StrategyFilterSettings
                {
                    public bool IsDone;
                    public int GoalID = 0;
                }
                class StrategyFilter
                {
                    public Collapse Collapse = default!;
                    public StrategyFilterSettings Settings = new();
                    
                    public List<Strategy> Filter(Ogsm currentOgsm)
                    {
                        IQueryable<Strategy> filterStrategyList = currentOgsm.Strategies.AsQueryable();
                    
                        if (Settings.IsDone)
                            filterStrategyList = filterStrategyList.Where(strat => !strat.IsDone);
                        
                        if(Settings.GoalID != 0)
                            filterStrategyList = filterStrategyList.Where(strat => strat.Goals.Any(goal => goal.ID == Settings.GoalID));
                    
                        filterStrategyList = filterStrategyList.OrderBy(strat => strat.IsDone);
                        return filterStrategyList.ToList();
                    }

                    public void ToggleFilterByGoal(int goalID) => Settings.GoalID = Settings.GoalID == goalID ? 0 : goalID;
                }
                public void FilterStrategies() => strategyList = _strategyFilter.Filter(currentOgsm);
            }
            <Collapse @ref="_strategyFilter.Collapse">
                <table>
                    <tr>
                        <td><Switch Label="Hide done" @bind-Value="_strategyFilter.Settings.IsDone"/></td>
                    </tr>
                    <tr>
                        <td><Button Color="ButtonColor.Info" Size="Size.Small" @onclick="@FilterStrategies">filter</Button></td>
                    </tr>
                </table>
                <hr>
            </Collapse>
            <Button Color="ButtonColor.Primary" @onclick="() => _strategyFilter.Collapse.ToggleAsync()">
                <span class="material-symbols-outlined">tune</span>
            </Button>
            <Button Color="ButtonColor.Primary" @onclick="FilterStrategies" TooltipTitle="Refresh">
                <span class="material-symbols-outlined">refresh</span>
            </Button>
        </CardHeader>
        @* filter settings collapse *@
        <CardBody>
            @foreach (Strategy strategy in strategyList)
            {
                StrategyCollapsed.TryAdd(strategy.ID, true);
                // EDIT CARD FOR STRATEGIES
                if (CurrentStrategy.ID == strategy.ID)
                {
                    // edit card for strategies
                    <EditForm Model="@_editStrategy" OnValidSubmit="HandleStrategyEdit">
                        <DataAnnotationsValidator/>
                        <Card class="active-item">
                            <CardHeader>
                                <label for="NameInput">Name:</label>
                                <InputTextArea class="input" id="NameInput" @bind-Value="@_editStrategy.Name"></InputTextArea>
                            </CardHeader>
                            <CardBody>
                                <table>
                                    @if (strategy.Goals.Any())
                                    {
                                        Goal lastGoal = strategy.Goals.Last();
                                        <tr>
                                            <td>Goals:</td>
                                            <td>
                                                @foreach (Goal goal in strategy.Goals)
                                                {
                                                    <a class="removable-item" @onclick="() => RemoveStratFromGoal(strategy, goal)">@goal.Name</a>
                                                    if (!Equals(goal, lastGoal))
                                                    {
                                                        <span> - </span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Done:</td>
                                        <td><input type="checkbox" checked="@strategy.IsDone" onchange="@(() => HandleStrategyIsDone(strategy))" class="form-check-input"/></td>
                                    </tr>
                                </table>
                            </CardBody>
                            <CardFooter>
                                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Save</Button>
                                @* this button should reset it to the old values *@
                                <Button @onclick="@(CancelStrategyEdit)" Color="ButtonColor.Warning">Cancel edit</Button>
                                <Button Size="Size.Small" @onclick="@(() => HandleStrategyDelete(strategy))" Color="ButtonColor.Danger"><span class="material-symbols-outlined">Delete</span></Button>
                            </CardFooter>
                        </Card>
                    </EditForm>
                    continue;
                }
                // NON EDIT CARD FOR STRATEGIES
                string cssClass = "";
                if (strategy.IsDone) cssClass = "done";
                <Card Class=@cssClass>
                    <CardHeader>
                        @strategy.Name
                        <Button Size="Size.Small" Color="ButtonColor.Info" class="float-end ms-1" Outline="goalFilter.Settings.StrategyID != strategy.ID"
                                TooltipTitle="Search linked to goal" @onclick="() => {goalFilter.ToggleFilterByStrategy(strategy.ID); FilterGoals();}">
                            <span class="material-symbols-outlined">search</span>
                        </Button>
                        <Button Size="Size.Small" Outline="@(!StrategyCollapsed[strategy.ID])" class="float-end ms-1" Color="ButtonColor.Info" @onclick="() => StrategyCollapsed[strategy.ID] = !StrategyCollapsed[strategy.ID]">
                            <span class="material-symbols-outlined">@(StrategyCollapsed[strategy.ID]?"expand_more":"expand_less")</span>
                        </Button> 
                        <Button Outline="@(!strategy.IsDone)" class="float-end ms-1" Color="ButtonColor.Success" @onclick="@(() => HandleStrategyIsDone(strategy))" TooltipTitle="Done / Total">
                            @strategy.Actions.Count(s => s.IsDone) / @strategy.Actions.Count()
                        </Button>
                        @if (currentGoal.ID != 0 && !currentGoal.Strategies.Contains(strategy))
                        {
                            <Button Size="Size.Small" @onclick="@(() => AddStratToGoal(strategy, currentGoal))" Color="ButtonColor.Primary">
                                <span class="material-symbols-outlined">link</span>
                            </Button>
                        }
                    </CardHeader>
                    <CardBody Class="@(StrategyCollapsed[strategy.ID] ? "hide" : "show")">
                        <table>
                            @if (strategy.Goals.Any())
                            {
                                Goal lastGoal = strategy.Goals.Last();
                                <tr>
                                    <td>Goals:</td>
                                    <td>
                                        @foreach (Goal goal in strategy.Goals)
                                        {
                                            <a class="removable-item" @onclick="() => RemoveStratFromGoal(strategy, goal)">@goal.Name</a>
                                            if (!Equals(goal, lastGoal))
                                            {
                                                <span> - </span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Done:</td>
                                <td><input type="checkbox" checked="@strategy.IsDone" onchange="@(() => HandleStrategyIsDone(strategy))" class="form-check-input"/></td>
                            </tr>
                        </table>
                    </CardBody>
                    <CardFooter Class="@(StrategyCollapsed[strategy.ID] ? "hide" : "show")">

                        <Button Size="Size.Small" @onclick="@(() => { ActivateStrategyEdit(strategy); })" Color="ButtonColor.Warning"><span class="material-symbols-outlined">Edit</span></Button>
                    </CardFooter>
                </Card>
            }
        </CardBody>

        @code{
            Strategy _formStrategy = new();

            public void HandleStrategySubmit(EditContext editContext)
            {
                var newStrategy = (Strategy)editContext.Model;
                newStrategy.ParentOgsmID = currentOgsm.ID;
                StrategyService.AddStrategy(newStrategy);
                currentOgsm.Strategies.Add(newStrategy);
                strategyList.Add(newStrategy);
                _formStrategy = new Strategy();
                StateHasChanged();
            }

        }

        @* form for adding strategies *@
        <CardFooter>
            <EditForm Model="@_formStrategy" OnValidSubmit="HandleStrategySubmit">
                <DataAnnotationsValidator/>
                <table>
                    <tr>
                        <td>
                            <InputText class="input" id="NameInput" @bind-Value="@_formStrategy.Name"></InputText><br/>
                        </td>
                        <td>
                            <Button Type="ButtonType.Submit" class="material-symbols-outlined btn-primary">Add</Button>
                            <Button @onclick="@(() => { _formStrategy = new Strategy(); })" class="material-symbols-outlined btn-primary">Cancel</Button>
                        </td>
                    </tr>
                </table>
            </EditForm>
        </CardFooter>
    </CardsList>


    @code
    {
        private ActionMeasure CurrentActionMeasure = new();
        private List<ActionMeasure> ActionMeasuresList = new();
        private ActionMeasure _editActionMeasure = new();

        public void ActivateActionEdit(ActionMeasure action)
        {
            CurrentActionMeasure = action;
            _editActionMeasure = new ActionMeasure {ID = action.ID, Name = action.Name};
            StateHasChanged();
        }
        
        public void HandleActionEdit(EditContext editContext)
        {
            var newAction = (ActionMeasure)editContext.Model;
            ActionMeasure realAction = ActionMeasureService.GetSingleAction(newAction.ID);
            realAction.Name = newAction.Name;
            CurrentActionMeasure.Name = newAction.Name;
            ActionMeasureService.UpdateAction(realAction);
            StateHasChanged();
        }
        
        public void HandleActionDelete(ActionMeasure action)
        {
            ActionMeasureService.DeleteAction(action.ID);
            action.Strategy.Actions.Remove(action);
            StateHasChanged();
        }

        private string GetMeasuresListTitle()
        {
            if (CurrentStrategy.Actions.Any())
                return "Measures (Strategy: " + CurrentStrategy.Name + ")";
            
            if (currentGoal.Strategies.Any())
                return "Measures (Goal: " + currentGoal.Name + ")";

            return "Measures (All)";
        }
        
        private void HandleActionisDone(ActionMeasure action)
        {
            action.IsDone = !action.IsDone;
            ActionMeasureService.UpdateAction(action);
        }
    }

    @* card list for action measures *@
    <CardsList Title="@GetMeasuresListTitle()">
        <CardBody>
            @if (goalFilter.Settings.StrategyID != 0)
            {
                ActionMeasuresList = currentOgsm.Strategies.First(strat => strat.ID == goalFilter.Settings.StrategyID).Actions.ToList();
            }
            else if (currentGoal.Strategies.Any())
            {
                ActionMeasuresList = new();
                foreach (Strategy strategy in currentGoal.Strategies)
                {
                    if (!strategy.Actions.Any()) continue;
                    foreach (ActionMeasure action in strategy.Actions)
                    {
                        ActionMeasuresList.Add(action);
                    }
                }

            }
            else
            {
                ActionMeasuresList = new();
                if (currentOgsm.Goals.Any())
                {
                    foreach (var strategy in currentOgsm.Strategies)
                    {
                        if (!strategy.Actions.Any()) continue;
                        foreach (ActionMeasure action in strategy.Actions)
                        {
                            ActionMeasuresList.Add(action);
                        }
                    }
                }
            }
            
            @foreach (ActionMeasure action in ActionMeasuresList)
            {
                if (CurrentActionMeasure.ID == action.ID)
                {
                    // edit card for action measures
                    <EditForm Model="@_editActionMeasure" OnValidSubmit="HandleActionEdit">
                        <DataAnnotationsValidator/>
                        <Card class="active-item">
                            <CardBody>
                                <table>
                                    <tr>
                                        <td>Title:</td>
                                        <InputTextArea class="input" @bind-Value="_editActionMeasure.Name"></InputTextArea>
                                    </tr>
                                    <tr>
                                        <td>Done:</td>
                                        <td><input type="checkbox" checked="@action.IsDone" class="form-check-input"/></td>
                                    </tr>
                                </table>
                            </CardBody>
                            <CardFooter>
                                <Button Type="ButtonType.Submit" Color="ButtonColor.Success">Save</Button>
                                <Button @onclick="() => CurrentActionMeasure = new ActionMeasure()" Color="ButtonColor.Warning">Cancel</Button>
                                <Button Size="Size.Small" @onclick="@(() => HandleActionDelete(action))" Color="ButtonColor.Danger" Outline="true"><span class="material-symbols-outlined">Delete</span></Button>
                            </CardFooter>
                        </Card>
                    </EditForm>
                    continue;
                }
                // non edit card for action measures
                <Card>
                    <CardHeader>
                        @action.Name
                        <Button Outline="@(!action.IsDone)" class="float-end ms-1" Color="ButtonColor.Success" @onclick="@(() => HandleActionisDone(action))">
                            <br/>
                        </Button>
                        <Button Size="Size.Small" class="float-end ms-1" @onclick="@(() => { ActivateActionEdit(action); })" Color="ButtonColor.Warning"><span class="material-symbols-outlined">Edit</span></Button>
                    </CardHeader>
                </Card>
            }
        </CardBody>
        @code
        {
            private ActionMeasure _formActionMeasure = new();
            
            public void HandleActionSubmit(EditContext editContext)
            {
                if (CurrentStrategy.ID == 0) return;
                var newAction = (ActionMeasure)editContext.Model;
                newAction.ParentStrategyID = CurrentStrategy.ID;

                ActionMeasureService.AddAction(newAction);
                newAction.Strategy = CurrentStrategy;
                CurrentStrategy.Actions.Add(newAction);

                _formActionMeasure = new ActionMeasure();
                StateHasChanged();
            }
        }
        <CardFooter>
        @if (CurrentStrategy.ID != 0)
        {
            // form for adding action measures
            <EditForm Model="@_formActionMeasure" OnValidSubmit="HandleActionSubmit">
                <DataAnnotationsValidator/>
                <table>
                    <tr>
                        <td>Title:</td>
                        <td>
                            <InputText class="input" id="NameInput" @bind-Value="@_formActionMeasure.Name"></InputText><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Button Type="ButtonType.Submit" class="material-symbols-outlined btn-primary">Add</Button> 
                            <Button @onclick="@(() => { _formActionMeasure = new ActionMeasure(); })" class="material-symbols-outlined btn-primary">Cancel</Button>
                        </td>
                    </tr>
                </table>
            </EditForm>
        }
        else
        {
            <Alert  Color="AlertColor.Info">
                Please select a strategy to add an action measure    
            </Alert>
        }
        </CardFooter>
    </CardsList>
</div>