@page "/Groups/{GroupId:int}"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@using ActionMeasure = nhs_ogsm.Data.ActionMeasure
@inject NavigationManager NavigationManager
@inject GroupService GroupService;
@inject UserService UserService;
@inject StateContainerService StateService;


@code{
    [Parameter]
    public int GroupId { get; set; }
    
    public Group currentGroup { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentGroup = GroupService.GetSingleGroup(GroupId);
        }
        catch (Exception e)
        {
            NavigationManager.NavigateTo("Groups");
        }
        
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }
    

}

<link href="css/DashBoard.css" rel="stylesheet"/>
<PageTitle>Group: @currentGroup.Name</PageTitle>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var user in currentGroup.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>
@code{
     public void HandleGroupDelete()
    {
        GroupService.DeleteGroup(currentGroup.ID);
        NavigationManager.NavigateTo("Groups");
    }
    
    public void HandleGroupEdit(EditContext editContext)
    {
        var newGroup = (Group)editContext.Model;
        Group realGroup = GroupService.GetSingleGroup(newGroup.ID);
        realGroup.Name = newGroup.Name;
        GroupService.UpdateGroup(realGroup);
        
        currentGroup.Name = newGroup.Name;
        _editGroup.Name = newGroup.Name;
        
        StateService.NotifyStateChanged();
    }
    
    
    Group _editGroup = new();
    Modal GroupEditModal;
    string GroupFormId = "GroupEditForm";
    string modalTitle = "Edit";
    
    private async Task OnShowModalClick()
    {
        modalTitle = "Edit " + currentGroup.Name;
        _editGroup = new Group {ID = currentGroup.ID, Name = currentGroup.Name};
        await GroupEditModal.ShowAsync();
    }
}
<Modal @ref="GroupEditModal" Title=@modalTitle>
    <BodyTemplate>
         <EditForm id="@GroupFormId" Model="@_editGroup" OnValidSubmit="HandleGroupEdit">
             <DataAnnotationsValidator/>
             <table>
                 <tr>
                     <td>Name:</td>
                     <td><InputText class="input" id="NameInput" @bind-Value="@_editGroup.Name"></InputText></td>
                 </tr>
             </table>
         </EditForm>   
    </BodyTemplate>
    <FooterTemplate>
        <Button form="@GroupFormId" Color="ButtonColor.Primary" Type="ButtonType.Submit">Save</Button>
    </FooterTemplate>
</Modal>