@page "/Groups"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@inject GroupService GroupService;
@inject NavigationManager NavigationManager;
@inject StrategyService StrategyService;


<h3>Groups overview</h3>

@code
{
    public List<Group> _groups;

    //get Groups on load
    protected override async Task OnInitializedAsync()
    {
        _groups = GroupService.GetAllGroups();
    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="css\main.css" rel="stylesheet"/>
    <title>Groups</title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Assigned People</th>
            <th>Assigned OGSM's</th>
            <th>Statistics</th>
        </tr>
        </thead>
        <tbody>
         
        @if (_groups != null)
        {
            @foreach (var group in _groups)
            {
                <tr>
                    <td>@group.Users</td>
                    <td>@group.Ogsms</td>
                    <td><input type="button" value="Select" onclick="@(() => Redirect("DashBoard/" + group.ID))" class="btn btn-default"/></td>
                </tr>
            }
        }
        <tr>
            <td><Button Color="Button.BtnColor.Primary" OnClick="@(() => Redirect("AddPersonToGroup"))">+</Button></td>
            <td><Button Color="Button.BtnColor.Primary" OnClick="@(() => Redirect("AddOGSMToGroup"))">+</Button></td>
        </tr>
        </tbody>
    </table>
</div>
@code
{
    public void HandleAddPersonToGroup(User user, Group group)
    {
        group.Users.Add(user);
        StateHasChanged();
    }
    
    public void Redirect(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }
}
</body>
</html>