@page "/OgsmItem"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject OgsmItemService OgsmItemService;

@code
{
    public List<Ogsm> _ogsmItemsArray;
    private bool isEdit = false;
    
    //Save new OGSM item
    Ogsm _ogsm = new();
    public void HandleSubmit(EditContext editContext)
    {
        var newOgsmItem = (Ogsm)editContext.Model;
        if (isEdit)
        {
            OgsmItemService.UpdateOgsm(_ogsm);
        }
        else
        {
            OgsmItemService.AddOgsm(newOgsmItem);
        }
        _ogsm = new Ogsm();
        _ogsmItemsArray = OgsmItemService.GetAllOgsm();
        StateHasChanged();
    }
    
    //Save new OGSM item
    public void HandleDelete(Ogsm item)
    {
        OgsmItemService.DeleteOgsm(item.ID);
        _ogsmItemsArray.Remove(item);
        StateHasChanged();
    }

    public void EditForm(Ogsm item)
    {
        isEdit = true;
        pageTitle = "Editing: "+item.ID;
        _ogsm = item;
        StateHasChanged();
    }
    
    //get Ogsm items on load
    protected override async Task OnInitializedAsync()
    {
        _ogsmItemsArray = OgsmItemService.GetAllOgsm();
    }
    
}

<h3>@pageTitle</h3>

<EditForm Model="@_ogsm" OnValidSubmit="HandleSubmit">
    <label for="TitleInput">Title</label>
    <InputText id="TitleInput" @bind-Value="@_ogsm.Title" required></InputText>
    
    <label for="parent">Parent OGSM</label>
    <InputSelect id="parent" @bind-Value="@_ogsm.ParentID">
        <option></option>
        @foreach (var ogsm in _ogsmItemsArray.Where(x => x.ID != _ogsm.ID && 
                                                         !OgsmItemService.FindElders(
                                                             x.ID, new List<int>()).Contains(_ogsm.ID)))
        {
            <option value="@ogsm.ID">@ogsm.Title</option>
        }
    </InputSelect>
    
    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Save</Button>
    <Button Color="ButtonColor.Secondary" @onclick="() => _ogsm = new Ogsm()">Cancel</Button>
</EditForm>

@code
{
    public string pageTitle = "New ogsm item";
}

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Parent</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ogsmItems in _ogsmItemsArray)
    {
        <tr>
            <td>@ogsmItems.ID</td>
            <td>@ogsmItems.Title</td>
            <td>@ogsmItems.Parent?.Title</td>
            <td><Button @onclick="@(() => HandleDelete(ogsmItems))" Color="ButtonColor.Danger" Outline="true">Delete</Button></td>
            <td><Button @onclick="@(() => EditForm(ogsmItems))" Color="ButtonColor.Secondary" Outline="true">Edit</Button></td>
        </tr>
    }
    </tbody>
</table>



