@page "/Users"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@using BlazorBootstrap
@inject UserService UserService;
@inject NavigationManager NavigationManager;

<h3>User Overview</h3>

@code
{
    public List<User> _users;

    //get Users on load
    protected override async Task OnInitializedAsync()
    {
        _users = UserService.GetAllUsers();
    }
    
    public void Redirect(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }
}

<html>
<head>
    <link href="css\main.css" rel="stylesheet"/>
    <title>Users</title>
</head>

<style>
    .dashboardButton {
        border: 2px solid #04AA6D;
        padding: 24px 32px;
        text-align: center;
        font-size: 24px;
        border-radius: 8px;   
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.19);
        float: right;
        transition-duration: 0.4s;
        position: sticky;
        bottom: 10px;
    }
    
    .dashboardButton:hover {
        background-color: #04AA6D;
          color: white;
    }
</style>

<table class="table"  style="table-layout: fixed">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Groups</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
     
    @if (_users != null)
    {
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (user.IsAdmin)
                    {
                        <p>Admin</p>
                    }
                    else
                    {
                        <p>User</p>
                    }
                </td>
                <td>
                    @if (user.Groups != null)
                    {
                        @foreach (var group in user.Groups)
                        {
                            <p>@group.Name</p>
                        }
                    }
                </td>
                <td>
                    <Button @onclick="@(() => Redirect($"User/{user.ID}"))" Color="ButtonColor.Primary">Edit</Button>
                    <Button @onclick="@(() => DeleteUser(user.ID))" Color="ButtonColor.Danger">Delete</Button>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<button class="dashboardButton" onclick="@(() => Redirect("UserCreator/"))">+</button>

</html>

@code
{
    private async Task DeleteUser(int id)
    {
        await UserService.DeleteUser(id);
        _users = UserService.GetAllUsers();
        StateHasChanged();
    }
}
